<footer>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <p>Created with <i class="material-icons" style="color: red;">favorite</i> by Xuan Yang - Copyright {{getCurrentYear}}</p>
</footer>
